* {
    margin: 0px;
    padding: 0px;
}

.header {
    height: 67px;
    background: #ff4800;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header nav a .subscribe{
    padding: 10px;
    text-decoration: none;
    color: rgb(226, 13, 13);
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 30px;
    

}
.blog{
    color: white;
    margin: 0px 120px 0px 0px;
}
.header nav{
    display: flex;
    justify-content: center;
    
    gap: 2em;
}

.header h1{
    flex-direction:row;
    align-self: flex-start;
}
.header nav a{
    text-decoration: none;
    color: white;
    line-height: 67px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.header nav a .contact{
    color: wheat;
    background-color: #000000;
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;

    border: none;
    cursor: pointer;
}

.header nav a:hover{
    color: rgb(0, 0, 0);
    transition: all linear 0.3s;
    
}

.featured{
    width: 1050px;
    margin: auto;
    display: flex;
    padding: 50px 0px;
    gap: 5em;
}

.featured .main {
    width: calc(600px);
    height:calc(480px);
    /* background: lightblue; */
    padding: 10px 17.5px;
    border: 1px solid rgb(117, 110, 110);
    border-radius: 5px;
}

.featured .main img{
    width: 100%;
}

.featured .sub .sub1,
.featured .sub .sub2,
.featured .sub .sub3{
    height: 140px;
    width: 200px;
    padding: 10px 17.5px;
    border: 1px solid rgb(117, 110, 110);
    border-radius: 5px;
}

.featured .sub .sub2,
.featured .sub .sub3{
    margin-top: 10px;
}

.featured .sub img{
    width: 200px;
    height: 105px;
}

.featured .sub a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.featured .sub a:hover{
    color: #ff4800;
    transition: all linear 0.3s;
}

.project {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: auto;
}

.project .box1
{
    height: 300px;
    width:300px;
    border: 1px solid rgb(117, 110, 110);
    border-radius: 5px;
    margin: auto;
    padding:10px 5px;
    text-align: center;
}

.project .box1 button{
    margin-top: .5em;
    color: wheat;
    background-color: #009ffc;
    padding: 5px 22px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.project .box1 button:hover{
    background: #0078bd;
    transition: all linear 0.3s;
}
.btn {
    margin-top: 3em;
    display: flex;
}
.btn button{
    margin: auto;
    
    color: wheat;
    background-color: #0a571b;
    padding: 10px 22px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.btn button:hover {
    background-color: #02290a;
    transition: all linear 0.3s;
}
.footer{
    display: flex;
    gap:10em;
    height: 250px;
    margin-top: 2em;
    padding-top: 2em;
    background: #0a1535;
    color:white;
    justify-content: center;
}

.footer h1{
    font-size: 2em;
    font-family: sans-serif;
}
.footer ul{
    list-style-type: none;
    margin-top: 1em;
}

.footer ul a{
    text-decoration: none;
    color: darkgray;
}
.footer ul a:hover{
    color: #ff4800;
    transition: all linear 0.3s;
}

.footer ul a li{
    line-height: 2em;
    font-family: sans-serif;
}

.footer .slinks ul{
    height: 2em;
    display: flex;
    gap:1em;
}

.footer .slinks img{
    height: 2.5em;
}